# src
src/*.c
src/benchmark_all
src/bruteforce
src/bruteforce_parallel
src/rangeQuery2d_quadtree
src/rangeQuery2d_pt_elim
src/benchmark_tiny

# root
rangeQuery2d_point_elimination/InputData/*
rangeQuery2d_quadtree/InputData/*
*.jpeg

# data
InputData/*

# tools
tools/pbbs2fut
tools/randPoints


#legacy
rangeQuery2d_grid/InputData/*
src/whitebox_benching
